!! Colorscheme

! special
*.foreground: #93a1a1
*.background: #000000
*.cursorColor: #afbfbf

! black
*.color0: #151515
*.color8: #4a697d

! red
*.color1: #d12f2c
*.color9: #fa3935

! green
*.color10: #262f46
*.color2: #262e79

! yellow
*.color3: #b08500
*.color11: #d9a400

! blue
*.color4: #2587cc
*.color12: #2ca2f5

! magenta
*.color5: #696ebf
*.color13: #8086e8

! cyan
*.color6: #289c93
*.color14: #33c5ba

! white
*.color7: #bfbaac
*.color15: #fdf6e3

URxvt.scrollBar: false
URxvt.font: xft:monospace:size=10

!! Copy Paste & Other Extensions
URxvt.perl-ext-common: default,clipboard,url-select,keyboard-select
URxvt.keysym.M-c: perl:clipboard:copy
URxvt.keysym.M-v: perl:clipboard:paste
URxvt.keysym.M-C-v: perl:clipboard:paste_escaped
URxvt.urlLauncher: firefox
URxvt.underlineURLs: true
URxvt.urlButton: 1
